@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
    background: #f7f2f1;
    padding-left: 15px;
    padding-right: 15px;
}

/*.navbar {
    display: none
}
  
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7
}

.navbar-default .navbar-brand {
    color: #777
}
  
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.navbar > .container-fluid .navbar-brand {
    margin-left: -15px
}*/